body
{
padding-top: 50px;
}

/*sidebar start */
.grid {
  display: none;
  margin: 0;
  &:after {
    /* Or @extend clearfix */
    content: "";
    display: table;
    clear: both;
	}
}
.col-1-3 {
	float: right;
    background: white;
    width: 23.0%;
}
/*end of sidebar*/

/* button start*/

/* .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: #ea556f;
    -moz-border-right-colors: #ea556f;
    -moz-border-top-colors: #ea556f;
    -webkit-border-bottom-colors: none;
    -webkit-border-left-colors: #ea556f;
    -webkit-border-right-colors: #ea556f;
    -webkit-border-top-colors: #ea556f;
    border-image: red;
    border-left-width: 1px;
    border-right-width: 1px;
    border-style: solid;
    border-top-width: 2px;
    color: #555;
    cursor: default;
} */

/*navbar bordercolor and background*/
.navbar-default {
    border-color: #fff;
    background: -moz-linear-gradient(to right, #d5445c, #ea556f);
    background: -ms-linear-gradient(to right, #d5445c, #ea556f);
    background: -o-linear-gradient(to right, #d5445c, #ea556f);
    background: -webkit-linear-gradient(to right, #d5445c, #ea556f);
    background: linear-gradient(to right, #d5445c, #ea556f); 
}
#sidebar:row {
  	background: #7e7e7e;
  	color: #dbdbdb;
  	font-size: 11px;
}
/* text color navbar-brand */
.navbar-default .navbar-brand {
    color: #fff !important;
    /* font-family: 'Jura', sans-serif; */
    font-family: 'Averia Sans Libre', cursive;
    font-size:2.5em;
    font-weight: bolder;
}
.tabbable{
	font-family: 'Averia Sans Libre', cursive;
    font-size:1em;
    font-weight: bold;
}
/* navbar-brand color on haver and focus */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #d9d7d7;
}
/* navbar-nav text color */
.navbar-default .navbar-nav > li > a {
    color: #fff !important;
    font-family: 'Averia Sans Libre', cursive;
    font-size:1.2em;
    font-weight: bold;
    
}
/* navbar-nav hover, focus color */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #d9d7d7;
}

.tabbable {
	padding: 10px;
}

.tabbable > h4 {
	text-align: center;
}

.btn-default {
	display: block !important;
	margin: 0 auto !important;
}

.btn {
	display: block !important;
	margin: 0 auto !important;
}
.navbar-default .navbar-toggle .icon-bar {
background-color: #ffffff;
}

