body
{
padding-top: 50px;
}

/*sidebar start */

.grid {
 
  margin: 0;
  &:after {
    /* Or @extend clearfix */
    content: "";
    display: table;
    clear: both;
}
}
.col-1-3 {
	float: right;
    background: white;
    width: 23.0%;
}

/*end of sidebar*/

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: #ea556f;
    -moz-border-right-colors: #ea556f;
    -moz-border-top-colors: #ea556f;
    -webkit-border-bottom-colors: none;
    -webkit-border-left-colors: #ea556f;
    -webkit-border-right-colors: #ea556f;
    -webkit-border-top-colors: #ea556f;
    border-image: red;
    border-left-width: 1px;
    border-right-width: 1px;
    border-style: solid;
    border-top-width: 2px;
    color: #555;
    cursor: default;
}


/*navbar bordercolor and background*/
.navbar-default {
    border-color: #fff;
    background: linear-gradient(to right, #d5445c, #ea556f);  
}
#sidebar:row {
  	background: #7e7e7e;
  	color: #dbdbdb;
  	font-size: 11px;
}
/* text color navbar-brand */
.navbar-default .navbar-brand {
    color: #fff;
}
/* navbar-brand color on haver and focus */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #d9d7d7;
}
/* navbar-nav text color */
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
/* navbar-nav hover, focus color */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #d9d7d7;
}
/* Цвет стрелочки (треугольничка) у раскрывающихся пунктов меню */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
/* Цвет стрелочки (треугольничка) при поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
/*
 Цвет стрелочки (треугольничка), открывшегося пункта меню 
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #fffbfb;
    border-bottom-color: #d4c1c1;
}
*/
/* CSS стили для мобильных устройств */
/* Цвет рамки у кнопки, которая открывает меню */
.navbar-default .navbar-toggle {
    border-color: #fff;
}
/* Цвет фона кнопки (которая открывает меню) при поднесении к ней курсора мышки или при нахождении её в фокусе */
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #d5445c;
}
/* Цвет полосочек в кнопочке, которая открывает меню */
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
 
/*
@media (max-width: 767px) {
 Цвет пунктов меню в раскрывающихся списках 
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
 Цвет и фон пункта меню в раскрывающихся списках, при поднесении к нему курсора мышки или при нахождении его в фокусе 
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
        background-color: transparent;
    }
}*/
