<!DOCTYPE html>
<html lang="en">
<!-- Bawl. Detail Issue Page -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bawl. User page.</title>
    <!-- Bootstrap -->
    <link href="././css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
  
    
</head>

<body>

    <div class="container" id="navbar">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">

                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Bawl</a>
                </div>

                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#">Cry out</a>
                        </li>

                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Login</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>



    <div class="grid" id="grid-right">
        <div class="col-1-3">
            <div class="tabbable">
                
                                <div align = right>
                                    <button type ="submit" class="btn btn-small" id="resolve_button">Resolve</button>
                                </div>

                                <h4><label id="issue_name">Traffic light doesn't work. </label></h4>

                                <label id="issue_description">
                                    Not working traffic lights at the intersection of Soborna-Kievskaya.
                                </label>
                                
                                <!-- <div class="thumbnail"> -->
                                  <img src="http://placehold.it/130x70">
                                  <img src="http://placehold.it/130x70">
                                <!-- </div> -->

                                <br>
                                <h4>Comments</h4>

                                <label class="comments_user_name">
                                    Alex
                                </label><br>
                                <label class="comment_name">
                                    He always breaks.
                                </label>
                                <hr width="100%" size="2">
                                <label class="comments_user_name">
                                    Alex
                                </label><br>
                                <label class="comment_name">
                                    He always breaks.
                                </label>
                                <hr width="100%" size="2">

                                
                                <h4>Your comment</h4>

                                <div>
                                    <label>Name</label>
                                    <input type="text" name="search" placeholder="name">
                                </div>
                                
                                <div>
                                    <label>Email</label>
                                    <input type="text" name="search" placeholder="name">
                                </div>

                                <div>
                                    <label>Comment</label>
                                    <textarea rows="3">                                 </textarea>    
                                </div>
                              
                                <br>                                            
                                <div align = "center">
                                    <button type ="submit" class="btn btn-small" id="resolve_button">Comment</button>
                                </div>
               
      
               
                 

              
                </div>
            </div>
        </div>
   
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-1.11.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>

</html>