<!--add user template-->
<div class="row">
    <center>
        <h2>Add User</h2>
    </center>

    <form class="form-horizontal">
        <!--user name-->
        <div class="form-group">
            <label for="userName" class="control-label col-xs-4">User name</label>
            <div class="col-xs-6">
                <input type="text" class="form-control input-sm" id="inputEmail" 
                placeholder="User name" name="userName">
            </div>
        </div>
        <!--email-->
        <div class="form-group">
            <label for="email" class="control-label col-xs-4">Email</label>
            <div class="col-xs-6">
                <input type="email" class="form-control input-sm" id="inputEmail" 
                placeholder="Email" name="email">
            </div>
        </div>
        <!--login-->
        <div class="form-group">
            <label for="login" class="control-label col-xs-4">Login</label>
            <div class="col-xs-6">
                <input type="login" class="form-control input-sm" id="inputLogin" 
                placeholder="Login" name="login">
            </div>
        </div>
        <!--user_password-->
        <div class="form-group">
            <label for="user_password" class="control-label col-xs-4">User password</label>
            <div class="col-xs-6">
                <input type="user_password" class="form-control input-sm" id="user_password" 
                placeholder="user_password" name="user_password">
            </div>
        </div>
        <!--avatar-->
        <div class="form-group">
            <label for="avatar" class="control-label col-xs-4">Avatar</label>
            <div class="col-xs-6">
                <input type="avatar" class="form-control input-sm" id="avatar" 
                placeholder="avatar" name="avatar">
            </div>
        </div>
        <!--btn #add_button-->
        <div class="form-group">
             <label for="add_button" class="control-label col-xs-4"></label>
             <div class="col-xs-6" align="center">
             <input type="submit" class="btn btn-mini" id="add_button">
        </div>
        </div>
    </form>
</div>
