<!--notification modal: #add_comment -->
    <div id="add_comment" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Bawl notification</h4>
                </div>
                <div class="modal-body">
                    <p>Comment added.</p>
                </div>
            </div>
        </div>
    </div>