
  <!--add user template-->
    <!-- modal: add_user -->
    <div id="c_edit_user" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add User</h4>
                </div>
                <div class="modal-body">
                    <!--user name-->
			        		<div class="form-group">
			            		<label for="userName" class="control-label col-xs-4">User name</label>
			            	<div class="col-xs-6">
			                <input type="text" class="form-control input-sm" id="name" 
			                placeholder="User name" name="name">
			            	</div>
			        		</div>
                    <!--email-->
                    <div class="form-group">
                        <label for="email" class="control-label col-xs-4">Email</label>
                        <div class="col-xs-6">
                            <input type="email" class="form-control input-sm" id="email" 
                            placeholder="Email" name="email">
                        </div>
                    </div>
                    <!--login-->
                    <div class="form-group">
                        <label for="login" class="control-label col-xs-4">Login</label>
                        <div class="col-xs-6">
                            <input type="login" class="form-control input-sm" id="login" 
                            placeholder="Login" name="login">
                        </div>
                    </div>
                    <!--user_password-->
                    <div class="form-group">
                        <label for="password" class="control-label col-xs-4">User password</label>
                        <div class="col-xs-6">
                            <input type="user_password" class="form-control input-sm" id="password" 
                            placeholder="user_password" name="user_password">
                        </div>
                    </div>
                    <!--avatar-->
                    <div class="form-group">
                        <label for="avatar" class="control-label col-xs-4">Avatar</label>
                        <div class="col-xs-6">
                            <input type="avatar" class="form-control input-sm" id="avatar" 
                            placeholder="avatar" name="avatar">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <!--btn #add_button-->
                    <!-- <div class="form-group"> -->
                    <label for="add-new-user" class="control-label col-xs-4"></label>
                    <div class="col-xs-6" align="center">
                        <button type="submit" class="btn btn-mini" id="add-new-user">Add</button>
                        <!--	</div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
