<!--admin HTML-cut for backbone template-->
<div class="row">
    <!--left admin panel-->
    <div id="left_admin_panel" class="col-lg-3">

        <div class="col-lg-3">
            <img src="<%= loginView.currentUser.get('avatarUrl')%>" class="img-thumbnail" alt="attachment_1">
        </div>
        <div class="col-lg-9">
            <b><label id="admin_name"><%= loginView.currentUser.get('name')%></label></b>
            <br>
            <button type="submit" class="btn btn-mini" id="admin_log_out">Log out</button>
        </div>
        <!--left panel menu-->
        <div class="col-lg-12">
            <ul>
            	<br />
                <li><button id="add-user" class="btn btn-primary">Add user</button></li> 
            </ul>
        </div>

    </div>
    <!--main block with table-->
    <div class="col-lg-9">

        <div class="col-xs-12 search">
            <div class="input-group input-group-sm"  id="input_search">
                <input type="text" placeholder="enter name" class="form-control">
                <span class="input-group-btn">
                        <button class="btn btn-default" id='search-user' type="button">Search</button>
                        <button class="btn btn-default" id='reset-filter' type="button">X</button>
                    </span>
            </div>
        </div>
        <!--table-->
        <table class="table">
            <thead>
                <tr>
                    <th>Login</th>
                    <th>Email</th>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
