<div class="container-fluid">
    <h1 style="color:#F0C3CA">Management Categories</h1>
    <div class="table-responsive">
        <table class="table category-table table-bordered">
            <thead>
                <tr>
                    <th class="col-md-2">Id</th>
                    <th class="col-md-2">Category</th>
                    <th class="col-md-3">Status</th>

                    <th class="col-md-3">
                        <div class="btn-toolbar">
                            <div class="btn-group">
                                <button class="btn" id="addCategory">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    Add
                                </button>
                            </div>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody id="category-table-body">

            </tbody>
        </table>
    </div>
</div>