<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
      </div>
      <div class="modal-body">
        <%= data[0].message %>
      </div>
      <div class="modal-footer">
        <button id="<%= data[1].id %>" name="<%= data[2].action %>" class='btn btn-primary confirm'>OK</button>
        <button class="btn" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>