<!-- EditIssueTemplate-->
<div id="editIssueModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">         
    <div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">User issue editing</h4>			
			</div>
			<div class="modal-body">
				<!--issue name-->
				<div class="form-group">
					<label for="name" class="control-label col-xs-4">Name</label>
					<div class="col-xs-6">
						<input type="text" class="form-control input-sm edit-issue-form" id="edit-issue-form-name" value="<%= data[0].issue.name %>" placeholder="Name" name="Name">
					</div>
				</div>
                
                <!--description-->
			                <div class="form-group">
			                    <label for="description" class="control-label col-xs-4">Description</label>
			                    <div class="col-xs-6">
			                        <input type="text" class="form-control input-sm edit-issue-form" id="edit-issue-form-description" value="<%= data[0].issue.description %>" placeholder="Description" name="description">
			                    </div>
			                </div>
                <!--attachment-->
		                <div class="form-group">
		                    <label for="attachment" class="control-label col-xs-4">Attachments</label>
		                    <div class="col-xs-6">
		                        <input type="text" class="form-control input-sm edit-issue-form" id="edit-issue-form-attachments" value="<%= data[0].issue.attachments %>" placeholder="attachment" name="attachment">
		                    </div>
		                </div>
               <!--category-->
               		    <div class="form-group">
				            <label for="category" class="control-label col-xs-4" name="category">Category</label>
						    	<div class="col-xs-6">
						    	<select type="text" class="form-control input-sm edit-issue-form" id="edit-issue-form-category">
									<% _.map(data[1].categories, function(category) { %>
									<option <% if(category.id == data[0].issue.categoryId) { %>
									selected
									<% } %>
									><%= category.name %></option>

									<% }); %>
								</select>
								</div>
							</div>
               <!--status-->
					    <div class="form-group">
				            <label for="status" class="control-label col-xs-4" name="status">Status</label>
						   		<div class="col-xs-6">
						    		<select type="text" class="form-control input-sm edit-issue-form" id="edit-issue-form-status">
										<% _.map(data[2].statuses, function(status) { %>
										<option <% if(status.name == data[0].issue.status) { %>
										selected
										<% } %>
										><%= status.name %></option>
										<% }); %>
									</select>
								</div>
						</div>
               <!--priority-->
               			
                		<div class="form-group">
				            <label for="priority" class="control-label col-xs-4" name="priority">Priority</label>
						   		<div class="col-xs-6">
						    		<select type="text" class="form-control input-sm edit-issue-form" id="edit-issue-form-priority">
										<option value="1">Low</option>
										<option value="2">Medium</option>
										<option value="3">High</option>
									</select>
								</div>
						</div>
                	
            </div>
    		<div class="modal-footer">
    				<button id="<%= data[0].issue.id %>" class="btn btn-primary editIssueConfirm">OK</button>
        			<button class="btn" data-dismiss="modal">Cancel</button>
    		</div>
		</div>
	</div>
</div>
