<div id="editModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">User editing</h4>
			</div>
			<div class="modal-body">
				<!--user name-->
				<div class="form-group">
           			<label for="userName" class="control-label col-xs-4">User name</label>
           			<div class="col-xs-6">
               			<input type="text" class="form-control input-sm edit-user" id="userName" placeholder="User name" name="name" value="<%= data.attributes.name %>">
           			</div>
       			</div>
				<!--email-->
        		<div class="form-group">
            		<label for="userEmail" class="control-label col-xs-4">Email</label>
            		<div class="col-xs-6">
                		<input type="email" class="form-control input-sm edit-user" id="userEmail" placeholder="Email" name="email" value="<%= data.attributes.email %>">
            		</div>
        		</div>
            <!--login-->
            <div class="form-group">
                <label for="userLogin" class="control-label col-xs-4">Login</label>
                <div class="col-xs-6">
                    <input type="login" class="form-control input-sm edit-user" id="userLogin" placeholder="Login" name="login" value="<%= data.attributes.login %>">
                </div>
        		<!--role-->
        		<div class="form-group">
            		<label for="userRole" class="control-label col-xs-4">Role</label>
            		<div class="col-xs-6">
                		<select class="form-control" id="userRole">
                      <option value="1">admin</option>
                      <option value="2">manager</option>
                    </select>
            		</div>
        		</div>
			</div> 
            <div class="modal-footer">
            	<button id="<%= data.attributes.id %>" class='btn btn-primary editFormConfirm'>OK</button>
        		<button class="btn" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
    