<!-- edit issue dialog box template-->
<html><head>
<meta http-equiv="content-type" content="text/html; charset=windows-1252"></head><body><div class="row">
    <center>
        <h2>Edit issue</h2>
    </center>
         <div class="form-horizontal">
                <!--id-->
                <div class="form-group">
                    <label for="id" class="control-label col-xs-4">Id</label>
                    <div class="col-xs-6">
                        <input class="form-control input-sm" id="id" placeholder="Id" name="id" type="id">
                    </div>
                </div>
                <!--name-->
                <div class="form-group">
                    <label for="name" class="control-label col-xs-4">Name</label>
                    <div class="col-xs-6">
                        <input class="form-control input-sm" id="name" placeholder="Name" name="name" type="name">
                    </div>
                </div>
                <!--category-->
                <div class="form-group">
                    <label for="category" class="control-label col-xs-4">Category</label>
                    <div class="col-xs-6">
                        <input class="form-control input-sm" id="category" placeholder="Category" name="category" type="category">
                    </div>
                </div>
                <!--description-->
                <div class="form-group">
                    <label for="description" class="control-label col-xs-4">Description</label>
                    <div class="col-xs-6">
                        <input class="form-control input-sm" id="user_password" placeholder="Description" name="description" type="description">
                    </div>
                </div>
                <!--date-->
                <div class="form-group">
                    <label for="date" class="control-label col-xs-4">Date</label>
                    <div class="col-xs-6">
                        <input class="form-control input-sm" id="date" placeholder="Date" name="date" type="date">
                    </div>
                </div>
                 <!--statusId-->
                <div class="form-group">
                    <label for="statusId" class="control-label col-xs-4">Status Id</label>
                    <div class="col-xs-6">
                        <input class="form-control input-sm" id="statusId" placeholder="Status Id" name="statusId" type="statusId">
                    </div>
                </div>
                <!--btn #add_button-->
                <div class="form-group">
                     <label for="add_button" class="control-label col-xs-4"></label>
                     <div class="col-xs-6" align="center">
                     <input class="btn btn-mini" id="add-new-user" type="submit">                             
                     <input class="btn btn-mini" id="cancel" type="reset">
                </div>
                </div>
    </div>
</div></body></html>