<!-- EditIssueTemplate-->
<div id="addModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">         
    <div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">User issue editing</h4>			
			</div>
			<div class="modal-body">         
                
                <!--description-->
			                <div class="form-group">
			                    <label for="description" class="control-label col-xs-4">Description</label>
			                    <div class="col-xs-6">
			                        <input type="text" class="form-control input-sm" id="edit-issue-form-description" value="<%= description %>" placeholder="Description" name="description">
			                    </div>
			                </div>
                <!--attachment-->
		                <div class="form-group">
		                    <label for="attachment" class="control-label col-xs-4">Attachment</label>
		                    <div class="col-xs-6">
		                        <input type="text" class="form-control input-sm" id="edit-issue-form-attachment" value="<%= attachments %>" placeholder="attachment" name="attachment">
		                    </div>
		                </div>
               <!--category-->
               		    <div class="btn-group">
						    <button class="btn dropdown-toggle btn-small" data-toggle="dropdown" id="edit-issue-form-category">Category <span class="caret"></span></button>
							    <ul class="dropdown-menu">
								    <li><a href="#">1</a></li>
								    <li><a href="#">2</a></li>
								    <li><a href="#">3</a></li>
								</ul>
					    </div>
               <!--status-->
               
               <!-- value=" -->
               
               	        <div class="btn-group">
						    <button class="btn dropdown-toggle btn-small" data-toggle="dropdown" id="edit-issue-form-status" >Status<span class="caret"></span></button>
							    <ul class="dropdown-menu">
								    <li><a href="#">New</a></li>
								    <li><a href="#">To Resolve</a></li>
								    <li><a href="#">Approved</a></li>
								    <li><a href="#">Resolved</a></li>	
							    </ul>
					    </div>
               <!--priority-->
               			<div class="btn-group">
						    <button class="btn dropdown-toggle btn-small" data-toggle="dropdown" id="edit-issue-form-priority">Priority<span class="caret"></span></button>
							    <ul class="dropdown-menu">
								    <li><a href="#">Low</a></li>
								    <li><a href="#">Medium</a></li>
								    <li><a href="#">High</a></li>
								</ul>
					    </div>
                	
                	
            </div>
    		<div class="modal-footer">
    				<button class='btn btn-primary editFormConfirm'>OK</button>
        			<button class="btn" data-dismiss="modal">Cancel</button>
    		</div>
		</div>
	</div>
</div>
