            <!--right panel: issue details-->
            <!-- WILL USE id="issue-details"-->
            <div class="col-lg-3" style="overflow: scroll; height: 100%;">


                <div align=right>
                    <button type="submit" class="btn btn-mini" id="resolve_button">Resolve</button>
                </div>

                <label id="issue_name">Traffic light doesn't work.</label>
               	<br>
                <span  id="issue_description" class="help-block">Not working traffic lights
						at the intersection of Soborna-Kievskaya.</span>
                
                <!-- <div class="thumbnail"> -->
                <img src="http://lorempixel.com/130/70/city/" class="img-thumbnail" alt="attachment_1">
                <img src="http://lorempixel.com/130/70/abstract/" class="img-thumbnail" alt="attachment_2">
                <!-- </div> -->
                
                <!--users comments-->
                <br/>
                <h4>Comments</h4>
                <div class="comments">
                    <div class="comment">
                        <div class="media-body">
                            <h4 class="media-heading">Alex <small><i>13 august 2014, 14:14</i></small></h4>
                            <span class="help-block">This object for a long time in poor condition.</span>
                        </div>
                    
                    </div>
          		</div>
          		<div id="add-comment">
                    <h5>Your comment</h5>
                    <form class="form-horizontal">
                        <!--user name-->
                        <div class="form-group">
                            <label for="userName" class="control-label col-xs-4">User name</label>
                            <div class="col-xs-6">
                                <input type="text" class="form-control input-sm" id="inputEmail" placeholder="User name" name="userName">
                            </div>
                        </div>
                        <!--email-->
                        <div class="form-group">
                            <label for="email" class="control-label col-xs-4">Email</label>
                            <div class="col-xs-6">
                                <input type="email" class="form-control input-sm" id="inputEmail" placeholder="Email" name="email">
                            </div>
                        </div>
                        <!--comment-->
                        <div class="form-group">
                            <label for="email" class="control-label col-xs-4">Comment</label>
                            <div class="col-xs-6">
                                <textarea class="form-control" rows="3" name="comment-text"></textarea>
                            </div>
                        </div>
                        <!--comment button-->
                        <div class="form-group">
                            <div class="col-xs-offset-2 col-xs-10">
                                <button type="submit" class="btn btn-mini" id="resolve_button" onclick="sendNewComment()">Comment</button>
                            </div>
                        </div>
                    </form>
				</div>



                
            </div> <!--right panel-->