<div class="grid" id="issue-details">
			<div class="col-1-3">
				<div class="tabbable">

					<div align=right>
						<button type="submit" class="btn btn-small" id="resolve_button">Resolve</button>
					</div>

					<h4>
						<label id="issue_name"></label>
					</h4>

					<label id="issue_description"></label>

					<!-- <div class="thumbnail">
					<img src="http://placehold.it/130x70"> <img
						src="http://placehold.it/130x70">
					</div> -->

					<br>
					<h4>Comments</h4>
					<div class="comments">
					
					
					</div>
					<div class="comment" id="add-comment">
						<h4>Your comment</h4>

						<div>
							<label>Name</label> <input type="text" name="userName">
						</div>

						<div>
							<label>Email</label> <input type="text" name="email">
						</div>

						<div>
							<label>Comment</label>
							<textarea name="comment-text" rows="3"></textarea>
						</div>

						<br>
						<div align="center">
							<button type="submit" class="btn btn-small" id="add_comment_button">Comment</button>
						</div>
					</div>
				</div>
			</div>
		</div>