                                   <tr>
                        <td> <%= id %> </td>
                        <td><%= name %> </td>
                        <td><%= category %></td>
                        <td><%= description %></td>
                        <td> 04.02.2015 </td>
                        <td><%= statusId %></td>
                        <td>
                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <button class="btn delete-issue" id="<%= id %>">delete it</button>
                                    <button class="btn" id="<%= id %>"><span class="glyphicon glyphicon-file"></span></button>
                                    <button class="btn" id="<%= id %>"><span class="glyphicon glyphicon-pencil"></span></button>
                                    <button class="btn" id="<%= id %>"><span class="glyphicon glyphicon-thumbs-up"></span></button>
                                    <button class="btn" id="<%= id %>"><span class="glyphicon glyphicon-thumbs-down"></span></button>
                                </div>
                            </div>
                        </td>
                    </tr>
