                 <tbody>
                    <tr>
                        <td> <%= id %> </td>
                        <td><%= name %> </td>
                        <td><%= category %></td>
                        <td><%= description %></td>
                        <td> 04.02.2015 </td>
                        <td><%= status_id %></td>
                        <td>
                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <button class="btn"><span class="glyphicon glyphicon-file">1</span></button>
                                    <button class="btn"><span class="glyphicon glyphicon-pencil">2</span></button>
                                    <button class="btn"><span class="glyphicon glyphicon-thumbs-up">3</span></button>
                                    <button class="btn"><span class="glyphicon glyphicon-thumbs-down">4</span></button>
                                </div>
                            </div>
                        </td>
                    </tr>

                </tbody>

