            <!--right panel: issue filter-->
            <div class="col-1-3" style="overflow: scroll; height: 100%; padding: 10px;">
            <label class="radio-inline">
              <input type="radio" name="optradio"  id="status"> 
                <div>
                  Status
                  <select id="status-filter">
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                  </select>
                </div>
            </label>
            <label class="radio-inline">
              <input type="radio" name="optradio"  id="category"> Category
            </label>
            
            <label class="radio-inline">
              <input type="radio" name="optradio"  id="priority"> 
                <div>
                  Priority
                  <select id="priority-filter">
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                  </select>
                </div>
            </label>

            <label class="radio-inline">
              <input type="radio" name="optradio"  id="date"> Date
            </label>
                
            </div> <!--right panel-->