                                  <tr>
                       <!--  <td> <%= data[0].issue.id %> </td> -->
                        <td><%= data[0].issue.name %> </td>
                        <td>
                        	<% _.map(data[1].categories, function(category) { %>
	                        	<% if(category.id == data[0].issue.categoryId) { %>
	                        	<% cat = category.name } %>
                        	<% }); %> 
	                        <input id="<%= data[0].issue.id %>" class="category form-control" type="text" list="categories" value="<%= cat %>" />
                        	<datalist id="categories">
								<% _.map(data[1].categories, function(category) { %>
									<option><%= category.name %></option>
								<% }); %>
							</datalist>
						</td>
                        <td><%= data[0].issue.description %></td>
                        <td> <%= new Date().toLocaleString() %> </td>
                        <td>
                        	<% _.map(data[2].statuses, function(status) { %>
	                        	<% if(status.id == data[0].issue.statusId) { %>
	                        	<% stat = status.name } %>
                        	<% }); %>
	                        <input id="<%= data[0].issue.id %>" class="status form-control" type="text" list="statuses" value="<%= stat %>" />
                        	<datalist id="statuses">
								<% _.map(data[2].statuses, function(status) { %>
									<option><%= status.name %></option>
								<% }); %>
							</datalist>
                        </td>
                        <td>
                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <button class="btn delete-issue" id="<%= data[0].issue.id %>"><span class="glyphicon glyphicon-file"></span></button>
                                    <button class="btn" id="<%= data[0].issue.id %>"><span class="glyphicon glyphicon-pencil"></span></button>
                                    <button class="btn" id="<%= data[0].issue.id %>"><span class="glyphicon glyphicon-thumbs-up"></span></button>
                                    <button class="btn" id="<%= data[0].issue.id %>"><span class="glyphicon glyphicon-thumbs-down"></span></button>
                                </div>
                            </div>
                        </td>
                    </tr>
