            <!--right panel: issue details-->
            <!-- WILL USE id="issue-details"-->
            <div class="col-1-3" style="overflow: scroll; height: 100%; padding: 10px;">


                <div align="left">
                    <button type="submit" class="btn  btn-default" name="resolve" id="<%= id %>">Resolve</button>
                    <button  class="btn  btn-default" name="subscribe" id="<%= id %>" title="Subscribe on this issue" data-placement="bottom" data-html="true" data-toggle="popover"  data-content=" Enter your e-mail <div class='input-group'><input id='folower-email' type='text' class='form-control'><span  id='<%= id %>' name='send-folower-email' class='btn btn-default input-group-addon'>Subcribe</span></div>" >Subscribe</button>
                </div>

                <label id="issue_name"> <%= name %> </label>
               	<br>
                <span  id="issue_description" class="help-block"> <%= description  %> </span>

                <!-- <div class="thumbnail"> -->
                <img src=" <%= attachments %> " class="img-thumbnail" alt="attachment_1">
                <!-- </div> -->

                <!--users comments-->
                <br/>

                <h4>Share</h4>
                <div class="share">
                  <img src="resources\img\facebook-share.png" class="img share" id="facebook-share" alt="facebook">
                  <img src="resources\img\google-share.png" class="img share" id="google-share" alt="google+">
                  <img src="resources\img\twitter-share.png" class="img share" id="twitter-hare" alt="twitter">
                </div>
                <h4>Comments</h4>
                <div class="comments">
                    <!-- HERE WE INSERT COMMENTS -->
          		</div>
          		<div id="add-comment">
                    <h5>Your comment</h5>
                    <div class="form-horizontal">
                        <!--user name-->
                        <div class="form-group">
                            <label for="userName" class="control-label col-xs-4">User name</label>
                            <div class="col-xs-6">
                                <input type="text" class="form-control input-sm" id="inputEmail" placeholder="User name" name="userName" required>
                            </div>
                        </div>
                        <!--email-->
                        <div class="form-group">
                            <label for="email" class="control-label col-xs-4">Email</label>
                            <div class="col-xs-6">
                                <input type="email" class="form-control input-sm" id="inputEmail" placeholder="Email" name="email" required>
                            </div>
                        </div>
                        <!--comment-->
                        <div class="form-group">
                            <label for="email" class="control-label col-xs-4">Comment</label>
                            <div class="col-xs-6">
                                <textarea class="form-control" rows="3" name="comment-text" required></textarea>
                            </div>
                        </div>
                        <!--comment button-->
                        <div class="form-group">
                            <div class="col-xs-offset-2 col-xs-10">
                                <button class="btn  btn-default" id="add_comment_button">Comment</button>
                            </div>
                        </div>
                    </div>
				</div>





            </div> <!--right panel-->
