    <!--template for login page-->
    <div class="modal fade" id="bawl-login">
        <div class="modal-dialog">
            <legend>Please Sign In</legend>
           	<div>
                <input type="text" id="username" class="span4" name="username" placeholder="Username">
                <input type="password" id="password" class="span4" name="password" placeholder="Password">
                <label class="checkbox">
                    <input type="checkbox" name="remember" value="1"> Remember Me
                </label>
                <button type="submit" name="submit" class="btn btn-block">Sign in</button>
            </div>
        </div>
    </div>
