 <!--manager HTML-cut for backbone template-->
    <div class="row">
        <!--left admin panel-->
        <div id="left_admin_panel" class="col-lg-3">

            <div class="col-lg-3">
                <img src="http://lorempixel.com/60/60/people/" class="img-thumbnail" alt="attachment_1">
            </div>
            <div class="col-lg-9">
                <b><label id="manager_name">Manager name</label></b>
                <br>
                <button type="submit" class="btn btn-mini" id="manager_log_out">Log out</button>
            </div>

            <!--left panel menu-->
            <div class="col-lg-12">
                <ul id="manager_menu">
                    <li><a href="#" id="new_issues">New issues</a> 
                    </li>
                    <li><a href="#" id="all_issues">All issues</a> 
                    </li>
                    <li><a href="#" id="resolved_issues">Resolved issues</a> 
                    </li>
                    <li><a href="#" id="add_category">Add category</a> 
                    </li>
                    <li><a href="#cry-out" id="new_">New issue</a> 
                    </li>
                </ul>
            </div>

        </div>


        <!--main block with table-->
        <div class="col-lg-9">

        
        <div id="issue-filter">
        
         </div>
        
        <!--table-->
        <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Description</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
           <tbody id="issue-table-body">
               
           </tbody>

        </table>
        </div>




    </div>
