<!-- manager issue search template --> 
<div class="col-xs-12">
    <div class="input-group input-group-sm" id="input_search">
       <input type="text" class="form-control manager-search-top" id='text-value-issue-filter' value="Search..." onfocus="if (this.value=='Search...'){this.value=''}" onblur="if(this.value==''){this.value='Search...'}" >
        <span class="input-group-btn">
           <button class="btn btn-default" id='filter-issue' type="button"> Search </button>
           <button class="btn btn-default" id="reset-filter-issue" type="button">X</button>
        </span>
    </div>
</div>
<div id="manager-search-block" class="manager-search-block">
 <b> Search by: </b><br>
     <form role="form">
      <div class="manager-search-topic">
	      <label class="radio-inline">
	        <input type="radio" name="optradio" id="name" > Name
	      </label>
      </div>
      <div class="manager-search-topic">
	      <label class="radio-inline">
	        <input type="radio" name="optradio"  id="keyword" checked > Keyword
	      </label>
      </div>
      <div class="manager-search-topic">
	      <label class="radio-inline manager-search">
	        <input type="radio" name="optradio"  id="status" style="margin-top: 10px;"> 
	       <div>
	         Status
	         <select id="status-filter" class="form-control" style="display: table-cell; width: 120px;" >
	           <option value="NEW">new</option>
	           <option value="APPROVED">approved</option>
	           <option value="RESOLVED">resolved</option>
	           <option value="DELETED">deleted</option>
	           <option value="TO_RESOLVE">to resolve</option>
	         </select>
	       </div>
	      </label>
      </div>
      <div class="manager-search-topic">
      <label class="radio-inline manager-search">
	      <input type="radio" name="optradio" id="category" style="margin-top: 10px;"> Category 
	         <select  id="categories"  class="form-control" style="display: table-cell; width: 120px;">
	            <% _.map(categories, function(category) { %>
	              <option value="<%= category.id %>"><%= category.name %></option><!--value="<%= category.id %>" -->
	            <% }); %>
	        </select>
	      </label>
      </div>
    <div class="manager-search-topic">
	    <label class="radio-inline manager-search">
	        <input type="radio" name="optradio"  id="priority" style="margin-top: 10px;"> 
	       <div>
	         Priority
	         <select id="priority-filter" class="form-control" style="display: table-cell; width: 120px;">
	           <option value="1">Low</option>
	           <option value="2">Medium</option>
	           <option value="3">High</option>
	         </select>
	       </div>
	      </label>
		</div>
      <div class="manager-search-topic">
	      <label class="radio-inline">
	        <input type="radio" name="optradio"  id="date"> Date
	      </label>
      <div class="manager-search-topic">
    </form>
   </div>