 <!--manager HTML-cut for backbone template-->
    <div class="row">
        <!--left admin panel-->
        <div id="left_admin_panel" class="col-lg-3">

            <div class="col-lg-3">
                <img src="<%= loginView.currentUser.get('avatarUrl')%>" class="img-thumbnail" alt="attachment_1">
            </div>
            <div class="col-lg-9">
                <b><label id="manager_name"><%= loginView.currentUser.get('name')%></label></b>
                <br>
                <button type="submit" class="btn btn-mini" id="manager_log_out">Log out</button>
            </div>

            <!--left panel menu-->
            <div class="col-lg-12">
                <ul id="manager_menu">
                    <li><a href="#" id="new_issues">New issues</a> 
                    </li>
                    <li><a href="#" id="all_issues">All issues</a> 
                    </li>
                    <li><a href="#" id="resolved_issues">Resolved issues</a> 
                    </li>
                    <li><a href="#" id="add-category-link" data-html="true" data-toggle="popover" title="Category name" data-content="<div class='input-group'><input id='category-name' type='text' class='form-control'><span id='add-category' class='btn btn-primary input-group-addon'>Add</span></div>">Add category</a> 
                    </li>
                    <li><a href="#cry-out" id="new_">New issue</a> 
                    </li>
                </ul>
            </div>

        </div>


        <!--main block with table-->
        <div class="col-lg-9">

        
        <div id="issue-filter">
        
         </div>
        
        <!--table-->
        <table class="table issue-table">
                <thead>
                   <tr>
                        <!-- <th>Id</th> -->
                        <th>Name</th>
                        <th style="width: 162px;">Category</th>
                        <th>Description</th>
                        <th>Date</th>
                        <th style="width: 101px;">Status</th>
                        <th style="width: 228px;"></th>
                    </tr>
                </thead>
           <tbody id="issue-table-body">
               
           </tbody>

        </table>
        </div>




    </div>
