<div class="modal fade" id="NottificationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Message</h4>
      </div>
        
        <div class="panel-body">
          <div style="display:none" id="login-alert" class="alert alert-danger col-sm-6"></div>
            <form id="submitForm" class="form-horizontal" role="form">

<fieldset>

<!-- Subject-->
<div class="control-group">
  <label class="control-label" for="passwordinput-0">Subject</label>
  <div class="controls">
    <input id="subject" name="subject" type="text" placeholder="Subject" class="input-xlarge form-control">
  </div>
</div>

<!-- Message -->
<div class="control-group">
  <label class="control-label" for="textarea-0">Message</label>
  <div class="controls">                     
    <textarea class="form-control" id="message" placeholder="Message" name="message"></textarea>
  </div>
</div>

<!-- Button -->
<div class="control-group">
  <label class="control-label" for="singlebutton-0"></label>
  <div class="controls">
    <button type="submit" class="btn btn-success">Button</button>
  </div>
</div>

</fieldset>
</form>

 </form>
 </div>
</div>
</div>
</div>
