<!--update/edit user template-->
	<!-- modal: update_user -->
	<div id="c_edit_user" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
	                <div class="modal-header">
	                    <h4 class="modal-title">Edit user</h4>
	                </div>
                <div class="modal-body">
                      <!--email-->
				        <div class="form-group">
				            <label for="userEmail" class="control-label col-xs-4">Email</label>
				            <div class="col-xs-6">
				                <input type="email" class="form-control input-sm" id="userEmail" 
				                placeholder="Email" name="email">
				            </div>
				        </div>
				        <!--login-->
				        <div class="form-group">
				            <label for="userLogin" class="control-label col-xs-4">Login</label>
				            <div class="col-xs-6">
				                <input type="login" class="form-control input-sm" id="userLogin" 
				                placeholder="Login" name="login">
				            </div>
				        </div>
				        <!--user_password-->
				        <div class="form-group">
				            <label for="user_password" class="control-label col-xs-4">User password</label>
				            <div class="col-xs-6">
				                <input type="password" class="form-control input-sm" id="user_password" 
				                placeholder="user_password" name="password">
				            </div>
				        </div>
				        <!--avatar-->
				        <div class="form-group">
				            <label for="userAvatar" class="control-label col-xs-4">Avatar</label>
				            <div class="col-xs-6">
				                <input type="avatar" class="form-control input-sm" id="userAvatar" 
				                placeholder="avatar" name="avatar">
				            </div>
				        </div>
                   </div> 
                <div class="modal-footer">
                      <!--btn #add_button-->
        			<!-- <div class="form-group"> -->
             		<label for="add-new-user" class="control-label col-xs-4"></label>
             		<div class="col-xs-6" align="center">
                        <button type="submit" class="btn btn-mini" id="update-user">Update user</button>
        			<!--	</div> -->
        			</div>
                </div>
            </div>
        </div>
    </div>
    