
    <div id="signUpBox" style="margin-top:150px;" class="mainbox col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2">
        <div class="panel" style="border: 0px;">
            <div class="panel-heading  navbar-default">
                <div class="panel-title" style=" color: #fff !important;
                                                        font-family: 'Josefin Sans', sans-serif;
                                                        font-size: 1.2em;">Sign Up</div>
            </div>
            <div class="panel-body">
                <div style="display:none" id="login-alert" class="alert alert-danger col-sm-6"></div>

                <form id="signUpForm" class="form-horizontal" role="form">

                    <div class="input-group">

                        <input type="text" name="username" id="s_username" tabindex="1" class="form-control" placeholder="Username" value="">
                    </div>

                    <div class="input-group">

                        <input id="s_email" type="text" class="form-control" name="reg_email" value="" placeholder="Email:">

                    </div>

                    <div class="input-group">

                        <input id="reg_login" type="text" class="form-control" name="reg_login" value="" placeholder="Login:">

                    </div>

                    <div class="input-group">
                        <input id="reg_password" type="password" class="form-control" name="reg_password" data-toggle="password" placeholder="password">
                    <span tabindex="100" title="Click here to show/hide password" class="add-on input-group-addon" style="cursor: pointer;">
                                            <i class="glyphicon icon-eye-open glyphicon-eye-open"></i></span>
                    </div>


                    <div style="margin-top:5px" class="form-group">
                        <!-- Buttons -->
                        <div class="col-sm-12 controls btnCenter">
                            <!-- changed from <a> to <button> -->
                            <button  type="submit" id="reg_submit" class="btn btn-success" type="button">Register</button>
                            <!-- button for facebook login -->
                            <!-- <a id="btn-fblogin" href="#" class="btn btn-primary">Login with Facebook</a>-->
                            <button id="reg_btn-close" class="btn btn-primary" type="button">Close</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <!--
  <div id="signUpBox" style="margin-top:150px;"  class="mainbox col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2" >
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">User registration </h4>

                  <form class="" method="post" action="">


                      <div class="form-row">
                          <label for="name" class="control-label col-xs-4">Name</label>
                              <div class="col-xs-6">
                                  <input type="text" class="form-control input-sm add-user-admin" id="name" placeholder="name" name="name" required pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{2,20}$"title="The first character must be a letter. (3-20 characters)">
                              </div>
                      </div>


                      <div class="form-group add-user-admin">
                          <label for="email">Email</label>
                              <div class="col-xs-6">
                                  <input type="email" class="form-control input-sm add-user-admin" id="email" placeholder="email" name="email" required pattern="^\S+@\S+\.\S+$" title="example@mail.com">
                              </div>
                      </div>


                      <div class="form-group add-user-admin">
                          <label for="login" class="control-label col-xs-4">Login</label>
                              <div class="col-xs-6">
                                  <input type="login" class="form-control input-sm add-user-admin" id="login" placeholder="login" name="login"required pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{4,20}$"title="The first character must be a letter. (4-20 characters)"

                                  onkeypress="CountLogin('login')" onfocus="CountLogin('login')"
                                  onkeyup="CountLogin('login')" value="login">
                               <!-- 4-20 characters, the first character is a letter

                            </div>
                    </div>



                    <div class="form-group add-user-admin">
                        <label for="password" class="control-label col-xs-4">Password</label>
                            <div class="col-xs-6">
                                <input type="password" class="form-control input-sm add-user-admin" id="password1" placeholder="password" name="password"required pattern="^(?=.*\d)[0-9a-zA-Z]{8,}$" title="Your password should be a minimum of 8 character long and must contain at least one number"

                                <div class="error-box"/>
                            </div>

                    </div>


                    <div class="form-group add-user-admin">
                        <label for="confirm password" class="control-label col-xs-4">Confirm password</label>
                            <div class="col-xs-6">
                                <input type="password" class="form-control input-sm add-user-admin" id="password2" placeholder="Confirm password" name="password"required pattern="^(?=.*\d)[0-9a-zA-Z]{8,}$" title="Your password should be a minimum of 8 character long and must contain at least one number"

                                <div class="error-box"/>
                             </div>

                        <div class="form-row">
                            <button type="submit" id="submit">OK</button>
                            <button class="btn" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </form>
			</div>
        </div>
    </div>
</div>-->




                