<div class="row admin_template">
    <!--left admin panel-->
    <div id="left_admin_panel" class="col-lg-3">

	    <div class="col-lg-6 admin-attachment">
	    <!-- <div class="admin-avatar"> -->
            <img src="<%= loginView.currentUser.get('avatar')%>" class="img-thumbnail admin-attachment" alt="attachment_1">
        </div>
        
        <div class="col-lg-6 admin-name">
            <b>
            <label id="admin_name"><a ><%= loginView.currentUser.get('name')%></a></label>
            </b>
            <br>
            <br>
            <br>
            <p>
            <button type="submit" class="btn btn-mini" id="admin_log_out">Log out</button>
            </p>
        </div>
        <!--left panel menu-->

        <div class="col-lg-12 admin">
            <ul class="admin">
                <li class="admin"><a class="admin" href="#viewprofile" title="Click here to view your profile">My Profile</a></li>
                <li class="admin"><a class="admin" href="#user/history" title="Click here to view your history">My History</a></li>
            </ul>
        </div>
       </div>

<div>
 <div class="row"> 
 	<!-- users avatar -->
 	
	<!-- view form column -->
	<div class="container edit-profile">
     <h4 class="edit-profile">Edit Profile </h4>

    <hr class="edit-profile">
    <div class="row">
        <!-- left column -->
        <div class="col-md-3 edit-profile">
            <div class="text-center">
                <img src="<%= avatar %>" class="avatar img-thumbnail edit-profile" alt="avatar">
                 <h6 class="edit-profile">Upload a different photo...</h6>

                <input class="form-control" type="file">
            </div>
        </div>
        <!-- edit form column -->
        <div class="col-md-9 personal-info">
            <div style="display: none;" class="alert alert-info alert-dismissable"> <a class="panel-close close" data-dismiss="alert">×</a>  <i class="fa fa-coffee"></i>
This
                is an <strong class="">.alert</strong>. Use this to show important messages
                to the user.</div>
             <h3 class="edit-profile">Personal info</h3>

            <form class="form-horizontal" role="form">
                <div class="form-group edit-profile">
                    <label class="col-lg-4 control-label">Name:</label>
                    <div class="col-lg-7">
                        <input class="form-control edit-profile" placeholder="Name" value="<%= name %>" type="text">
                    </div>
                </div>

                <div class="form-group edit-profile">
                    <label class="col-lg-4 control-label">Email:</label>
                    <label class="col-md-1 control-label"  ><%= email %></label>
                </div>

                <div class="form-group edit-profile">
                    <label class="col-md-4 control-label">Login:</label>
                    <label class="col-md-1 control-label"  ><%= login %></label>
                </div>

                <div class="form-group edit-profile">
                    <label class="col-md-4 control-label">Password:</label>
                    <label class="col-md-1 control-label">
                        <a >Reset</a>
                    </label>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-8 edit-profile">
                        <input class="btn btn-primary" value="Save Changes" type="button"> <span class=""></span>

                        <input class="btn btn-default" value="Cancel" type="reset">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<hr class="">
 </div>
</div>
