<div class="row admin_template">
        <!--left admin panel-->
        <div id="left_admin_panel" class="col-lg-3">

            <div class="col-lg-6 admin-attachment">
            <!-- <div class="admin-avatar"> -->
                <img src="image/avatar" class="img-thumbnail admin-attachment" alt="attachment_1">
            </div>

            <div class="col-lg-6 admin-name">
                <b>
                <label id="user_name"><%= loginView.currentUser.get('name')%></a></label>
                </b>
                <br>
                <br>
                <br>
                <p>
                <button type="submit" class="btn btn-mini" id="admin_log_out">Log out</button>
                </p>
            </div>
            <!--left panel menu-->
            <div class="col-lg-12 manager manager-menu">
                <ul class="manager" id="manager_menu">
                <li class ="manager" style="margin: 15px 0px;"><a class="manager" href="#viewprofile" title="Click here to view your profile" id="my_profile">My Profile</a>
                </li>
                <li class ="manager" style="margin: 15px 0px;"><a class="manager" href="#user/history" title="Click here to view your history">My History</a>
                </li>
                </ul>
            </div>
        </div>


         <div class="row">
            <!-- view form column -->
            <div class="col-md-9 personal-info">
                <form class="form-horizontal" role="form">
                    <!-- avatar column -->
                    <div class="form-group view-profile">
                        <img src="image/avatar" class="img-thumbnail admin-attachment large" alt="attachment_1"></br>
                        <button  class="btn btn-mini under-avatar" type="file" name="file" id="input-avatar-load">Change Avatar</button>
                        <button  class="btn btn-mini under-avatar" id="remove-avatar">Delete Avatar</button>
                    </div>
                     <!-- users data column -->
                     <div class="form-group view-profile">
                         <p class="col-lg-9 control-label user-name"><%= name %></p></br>
                         <p class="col-lg-8 control-label user-email"><%= email %></p></br></br>
                         <ul>
                             <li class="col-lg-12"><img src="resources\img\mail_ico.png"><%= email %></li>
                             <li class="col-lg-12"><img src="resources\img\fb_ico.png"><%= email %></li>
                             <li class="col-lg-12"><img src="resources\img\gp_ico.png"><%= email %></li>
                         </ul>
                     </div>
                     <!-- buttons column -->
                     <div class="form-group view-profile">
                         <ul>
                             <li><button  class="btn btn-mini edit-reset" id="profile">Edit profile</button></li>
                             <li><button  class="btn btn-mini edit-reset" id="profile">Reset pass</button></li>
                         </ul>
                     </div>
                </form>
            </div>
         </div>
</div>


